td {
    border: 2px solid rgb(0, 0, 0);
    height: 100px;
    width: 100px;
    text-align: center;
    vertical-align: middle;
    font-family: 'Courier New', Courier, monospace, cursive, sans-serif;
    font-size: 70px;
    cursor: pointer;
}
table {
    border-collapse: collapse;
    position: absolute;
    left: 50%;
    margin-left: -155px;
    top: 50px;
    
}
table tr:first-child td {
    border-top: 0;
}
table tr:last-child td {
    border-bottom: 0;
}
table tr td:first-child {
    border-left: 0;
}
table tr td:last-child {
    border-right:0;
}

.endgame {
    display:none;
    width: 200px;
    top:120px;
    background-color: rgba(205, 133, 63, .8);
    position: absolute;
    left: 50%;
    margin-left: -100px;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    border-radius: 5px;
    color: white;
    font-size: 2em;

}


























/* * {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
  }

  nav {
      height: 15vh;
      background: #444;
      color: #DDD;
  }

  main {
      background: #EEE;
      height: 85vh;
  }

  table,
  section,
  nav {
      display: flex;
      justify-content: center;
      align-items: center;
  }

  table {
      padding-top: 5vh;
  }

.row td {
    height: 120px;
    width: 120px;
    border: 1px solid #000;
    text-align: center;
    font-size: 2em;
} */
